.controller-values {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;

  > .controller-value-container {
    margin-top: 10px;
    margin-bottom: 20px;
  }

  > .controller-date {
    margin-bottom: 10px;
  }
}
