.homes {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;

  > .homes-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
    align-items: stretch;
    margin-top: 40px;
  }
}

